.aboutContainer {
    display: flex;
    /* height: 75vh; */
    margin: 60px;
    /* overflow: auto; */
}
.aboutSection {
    flex: 2;
    display: block;
}
.about-flex {
    display: flex;
    align-items: center;
    margin-top: 0;
    font-size: 35pt;
}
.ref {
    font-weight: bold;
    color: darkgreen;
}
.contact-section {
    flex: 1;
    border-radius: 5px;
    text-align: center;
    height: fit-content;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1pt solid darkgreen;
    align-self: center;
}
.contact-header {
    margin-bottom: 0;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.flex-links {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
}
.flex-links a {
    color: black;
    font-size: 10pt;
    text-decoration: none;
}
.link-img {
    height: 25px;
}
.resume {
    margin-top: 1em;
}
.resumeBtn {
    border: 1pt solid darkgreen;
    background-color: white;
    color: darkgreen; 
    text-decoration: none;
}
.resumeBtn:hover {
    background-color: darkgreen;
    color: white;
    border: 1pt solid darkgreen;
}

@media screen and (max-width: 1200px) {
    .aboutContainer {
        display: block;
        text-align: center;
    }
    .aboutSection {
        margin-bottom: 5em;
    }
    .about-flex {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .about-text {
        font-size: 11pt;
    }
}


@media screen and (max-width: 600px) {
    .aboutContainer {
        height: auto;
        margin: 60px 35px;
    }
    .about-flex {
        font-size: 30pt;
    }
    .about-text {
        font-size: 10pt;
    }
    .contact-section {
        margin-top: 1em;
        padding-top: 2em;
        margin-top: 3em;
    }
    .link-img {
        height: 25px;
    }  
    .resumeBtn {
        font-size: 10pt; 
    }   
    .aboutSection {
        border-bottom: 1pt dashed darkgreen;
        padding-bottom: 4em;
    }
}

@media screen and (max-height: 760px) {
    .contact-section {
        padding-top: 1em;
        padding-bottom: 1em;
      }
}    