.experienceContainer {
    /* height: 75vh; */
    margin: 60px;
    /* display: flex; */
}
.flex-container {
    display: flex;
    margin-bottom: 6em;
}
.experienceSection {
    flex: 2;
    display: block;
}
.experience-flex {
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* justify-content: space-between; */
}
.skillsSection {
    flex: 1;
    padding: 10px;
    text-align: center;
    height: 100%;
    /* border-left: 1pt dashed #006400; */
    /* margin-left: 1em; */
    padding-top: 3em;
    /* border-top: solid darkgreen 1pt; */
}

/* .experience-text {
    max-width: 60vw;
} */

.header {
    font-size: 35pt;
}

.timeline {
    /* text-transform: uppercase; */
    border-left: dashed darkgreen 1pt;
    padding-left: 2em;
    text-align: center;
    align-items: center;
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
}

.dates {
    font-weight: 300;
    font-size: 12pt;
}

.company {
    font-weight: bold;
    font-size: 13pt;
}

.category {
    font-size: 18pt;
    font-weight: bold;
}
.columns {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}
.progress {
    background-color: darkgreen;
    height: 1.5em;
    /* border: 1px solid grey; */
    border-radius: 5px;
    width: 35em;
}


@media screen and (max-width: 1200px) {
    .header {
        text-align: center;
    }
    .experienceContainer {
        display: block;
        text-align: center;
    }
    .flex-container {
        display: block;
        text-align: center;
    }
    .experience-flex {
        display: block;
    }
    .experience-text {
        max-width: 100%;
        text-align: center;
    }
    .timeline {
        margin-left: 0;
        border-left: none;
        margin-top: 5em;
        border-top: dashed darkgreen 1pt;
    }
    hr {
        display: none;
    }
    .skillsSection {
        margin-left: 0;
        border-left: none;
        margin-top: 5em;
        border-top: 1pt dashed #006400;    
    }
}

@media screen and (max-width: 900px) {
    .experience-text {
        font-size: 11pt;
    }
}

@media screen and (max-width: 600px) {
    .experienceContainer {
        margin: 60px 35px;
    }
    .experience-text {
        font-size: 10pt;
    }
    .header {
        font-size: 25pt;
    }
    .company {
        font-size: 12pt;
    }
    .timeline {
        padding: 1em;
        padding-top: 2em;
    }
    .dates {
        font-size: 11pt;
    }
    .skillsSection {
        padding-top: 2em;
    }
    .category {
        font-size: 15pt;
    }
    .columns {
        gap: 10px;
        height: auto;
    }
    .column {
        gap: 1em;
    }
    .progress {
        height: 1em;
        border-radius: 5px;
        width: 15em;
    }
}
